* Work with Columns
  * How to carry our Series operation on DataFrame Columns
  * Add or Update column
  * Rename column
  * Drop column

In [1]:
import pandas as pd

In [2]:
weather_df = pd.read_csv('data/weather_2012.csv')

In [3]:
weather_df['Wind Spd (km/h)'].head()

0    4
1    4
2    7
3    6
4    7
Name: Wind Spd (km/h), dtype: int64

In [4]:
weather_df['Wind Spd (km/h)'].head() + 3 # arithmetic operation directly on Series possible + - / *

0     7
1     7
2    10
3     9
4    10
Name: Wind Spd (km/h), dtype: int64

In [7]:
# Adding column 
weather_df['new_temp_col'] = weather_df['Temp (C)'] + weather_df['Dew Point Temp (C)']

In [8]:
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,new_temp_col
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,-5.7
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,-5.5
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",-5.2
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",-4.7
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,-4.8

*

Apply/ Call Functions 
*   `.apply()`
* If you have special logic to apply on entire column

In [10]:
weather_df['Visibility (km)'].head()

0    8.0
1    8.0
2    4.0
3    4.0
4    4.8
Name: Visibility (km), dtype: float64

In [12]:
weather_df['Visibility (km)'].apply(lambda x: x*2).head()

0    16.0
1    16.0
2     8.0
3     8.0
4     9.6
Name: Visibility (km), dtype: float64

##### `.describe()` 
* If you want to get the summary of how your data looks numerically: count, min, std, min etc

In [14]:
weather_df['Visibility (km)'].describe()

count    8784.000000
mean       27.664447
std        12.622688
min         0.200000
25%        24.100000
50%        25.000000
75%        25.000000
max        48.300000
Name: Visibility (km), dtype: float64

Updating column

In [43]:
weather_df['new_visibility'] = weather_df['Visibility (km)'] * 100

In [49]:
weather_df.head(3)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,new_temp_col,new_visibility
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,-5.7,800.0
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,-5.5,800.0
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",-5.2,400.0

Renaming column

In [51]:
weather_df.rename(columns={'new_visibility': 'visibility (meters)'}, inplace=True) # inplace=True or assign

In [52]:
weather_df.head(3)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,new_temp_col,visibility (meters)
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,-5.7,800.0
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,-5.5,800.0
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",-5.2,400.0

Drop column

In [56]:
weather_df.drop(columns=['visibility (meters)', 'new_temp_col'], axis=1, inplace=True) # inplace=True or assign

In [58]:
weather_df.head(3)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"

Sorting

In [60]:
weather_df.sort_values('Temp (C)', ascending=False).head() # inplace=True or assign

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
4695,2012-07-14 15:00:00,33.0,16.8,38,22,48.3,101.31,Mainly Clear
4143,2012-06-21 15:00:00,33.0,19.0,44,24,24.1,100.20,Mainly Clear
4696,2012-07-14 16:00:00,32.9,15.3,35,24,48.3,101.26,Mainly Clear
5199,2012-08-04 15:00:00,32.8,18.8,44,17,24.1,101.39,Clear
4694,2012-07-14 14:00:00,32.7,15.3,35,28,48.3,101.35,Mainly Clear

In [103]:
# Q. Which were the top 10 hottest values and their counts?
sorted_value_counts = weather_df['Temp (C)'].value_counts().sort_values(ascending=False).iloc[:7]

In [104]:
sorted_value_counts

Temp (C)
16.6    65
1.1     58
0.8     47
1.5     45
19.3    44
21.1    43
2.6     43
Name: count, dtype: int64